<script type="text/javascript">
  var markers = [];
</script>

 
<div class="search-results">
  <% if !results_found %>
    <div class="alert alert-block">
      <h4 class="alert-heading"><%= t :no_results_found %></h4>
      <%= t :no_results_found_text %>
    </div>
    <%= render "generics/search_form" %>
  <% else %>
    <h3>Results</h3>
    <div class="subject-pic"><img src="<%=subject.profile_image%>" />
    <span class="subject-name"><%= subject.full_name%> (A.K.A <%= subject.username%>)</span><br/>
    
    <div id="gmap"></div>
    <% subject.my_tweeting_locations.each do |coords|  %>
      <div >
        <script type="text/javascript">
         markers.push({
          coords: <%= coords[:coords]%>,
          weight: <%= coords[:count]%> 
          }); 
        </script>
      </div>
      
    <% end %>
  <% end %>
<script type="text/javascript">
      $(document).ready(function(){
        google_map.setCenter(new google.maps.LatLng(markers[0].coords[0], markers[0].coords[1]));
        for(i = 0; i < markers.length; i++) {
          renderMarker(google_map, markers[i]);
        }
  });
      </script>
</div>
