<script type="text/javascript">
  var markers = [];
</script>

 
<div class="search-results">
  <% if !results_found %>
    <div class="alert alert-block">
      <h4 class="alert-heading"><%= t :no_results_found %></h4>
      <%= t :no_results_found_text %>
    </div>
    <%= render "generics/search_form" %>
  <% else %>
    <h3>Results</h3>
    <div class="subject-pic"><img src="<%=subject.profile_image%>" /></div>
    <span class="subject-name"><%= subject.full_name%> (A.K.A <%= subject.username%>)</span><br/>
    
    <div id="gmap"></div>
    <div id="tweets">
      <h2>Tweets from <%= subject.username %></h2>
      <div id="empty-tweet-list" class="well"><em>Select one the of the locations to read the user's tweets</em></div>
      <% subject.my_tweeting_locations.each_with_index do |coords,idx|  %>

        <script type="text/javascript">
         markers.push({
          coords: <%= coords[:coords]%>,
          weight: <%= coords[:count]%> ,
          id: <%= idx %>
          }); 
        </script>
        <ul class="well hidden tweet-list <%= idx %>">
          <% subject.tweets_by_coords({:lat => coords[:coords][0], :lng => coords[:coords][1]}).each do |t| %>
              <li ><%= t.twitt %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<script type="text/javascript">
      $(document).ready(function(){
        google_map.setCenter(new google.maps.LatLng(markers[0].coords[0], markers[0].coords[1]));
        for(i = 0; i < markers.length; i++) {
          renderMarker(google_map, markers[i]);
        }
  });
      </script>
</div>
